body {
  font-size: 1.4rem;
  background: whitesmoke;
  margin: 0;
  padding: 1rem;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.title {
  font-family: 'Nanum Pen Script';
  font-size: 2rem;
  margin-bottom: 30px;
}
